<div class="image_row clearfix">
	<div class="image_title">
			<%= image.person  %> - <%= image.created_at.strftime("%d/%m/%Y")  %>
	</div>
	<%= image_tag(image.url, :class=>"photo") %>
	<ul class="products">

		<% unless image.products.empty? %>
		<h3>Style Picks</h3>
	  		<% image.products.each do |product| %>
			<li class="clearfix">

			    <a target="_blank" href="<%= product.url %>"><%= image_tag(product.image_url, :class=>"product-photo") %></a>
			    <ul class="product-desc">
					<li><%= product.name %></li>
					<li><span class="price">$<%= product.price %></span> - 
						<span class="website">
						<a target="_blank" href="<%= product.url %>"><%= product.website || product.url.match(/^(?:f|ht)tp(?:s)?\:\/\/([^\/]+)/i)[1] %></a>
					    
					</span></li>
					<li><%= button_to 'Delete', product_path(product.id), :confirm => 'Are you sure?', :method => :delete %>        </li>
				</ul>
			</li>

			  <% end %>
		<% else %>
		<li><h3>Style picks coming shortly...</h3><li>
		<% end %>

	</ul>
	
<div class="add_product">
		
		<h3>ADD NEW PRODUCT FOR THIS STYLE</h3>
		  <%= form_for :product, @product, :url => { :controller => "products", :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
		    <% if @product.errors.any? %>
		    <div id="errorExplanation">
		      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
		      <ul>
		      <% @product.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		    <% end %>
			<div class="col1">
		    <%= f.label :product_name %>:
		    <%= f.text_field :name %>
		<br/>
		    <%= f.label :product_url %>:
		    <%= f.text_field :url %>
			</div>
			<div class="col2">
		    <%= f.label :price %>:
		    <%= f.text_field :price %>
		<br/>
		    <%= f.label :image_url %>:
		    <%= f.text_field :image_url %>
			</div>

		    <%= f.hidden_field :image_id, :value =>  image.id  %>

		    <%= submit_tag "Create" %>
		  <% end %> <!-- end form_for product -->
	
</div>
</div>
